.header{
  background-color: rgb(139, 139, 139);
}

.div-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage{
  width: 100px;
  border-radius: 9px;
  margin: 5px;
}

.dropdown{
margin: 25px;
}

#dropdown-basic{
  background-color: black;
  border: 2px solid black;
  border-radius: 9px;
}